<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> Principal </h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Principal</a>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">

    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-user"></i>
                </div>
                <div class="details">
                    <div class="number"> 1349 </div>
                    <div class="desc"> Total de Pacientes </div>
                </div>
                <a class="more" href="#">
                    <!--Ver mais <i class="m-icon-swapright m-icon-white"></i>-->
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-star"></i>
                </div>
                <div class="details">
                    <div class="number"> 400 </div>
                    <div class="desc"> Pacientes Ativos </div>
                </div>
                <a class="more" href="#">
                    <!--Ver mais <i class="m-icon-swapright m-icon-white"></i>-->
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-jungle">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number"> 54 </div>
                    <div class="desc"> Pac. Novos Último Mês </div>
                </div>
                <a class="more" href="#">
                    <!--Ver mais <i class="m-icon-swapright m-icon-white"></i>-->
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-repeat"></i>
                </div>
                <div class="details">
                    <div class="number"> 89% </div>
                    <div class="desc"> Taxa Retorno </div>
                </div>
                <a class="more" href="#">
                    <!--Ver mais <i class="m-icon-swapright m-icon-white"></i>-->
                </a>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
    <div class="row">
        <!--<div class="col-md-6 col-sm-12">-->
            <!--&lt;!&ndash; BEGIN PORTLET&ndash;&gt;-->
            <!--<div class="portlet light bordered ">-->
                <!--<div class="portlet-title">-->
                    <!--<div class="caption caption-md">-->
                        <!--<i class="icon-settings font-green"></i>-->
                        <!--<span class="caption-subject font-green bold uppercase">Resumo Geral</span>-->
                        <!--<span class="caption-helper hide">weekly stats...</span>-->
                    <!--</div>-->
                    <!--<div class="actions">-->
                        <!--<div class="btn-group btn-group-devided" data-toggle="buttons">-->
                            <!--<label class="btn dark btn-outline btn-circle btn-sm active">-->
                                <!--<input type="radio" name="options" class="toggle" id="option1">Hoje</label>-->
                            <!--<label class="btn dark btn-outline btn-circle btn-sm">-->
                                <!--<input type="radio" name="options" class="toggle" id="option2">Semana</label>-->
                            <!--<label class="btn dark btn-outline btn-circle btn-sm">-->
                                <!--<input type="radio" name="options" class="toggle" id="option2">Mês</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="portlet-body">-->
                    <!--<div class="row list-separated">-->
                        <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
                            <!--<div class="font-grey-mint font-sm"> Total Sales </div>-->
                            <!--<div class="uppercase font-hg font-red-flamingo"> 13760-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
                            <!--<div class="font-grey-mint font-sm"> Revenue </div>-->
                            <!--<div class="uppercase font-hg font-green"> 4760-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
                            <!--<div class="font-grey-mint font-sm"> Expenses </div>-->
                            <!--<div class="uppercase font-hg font-purple"> 1760-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
                            <!--<div class="font-grey-mint font-sm"> Growth </div>-->
                            <!--<div class="uppercase font-hg font-blue"> 9760-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<ul class="list-separated list-inline-xs hide">-->
                        <!--<li>-->
                            <!--<div class="font-grey-mint font-sm"> Total Sales </div>-->
                            <!--<div class="uppercase font-hg font-red-flamingo"> 13760-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li> </li>-->
                        <!--<li class="border">-->
                            <!--<div class="font-grey-mint font-sm"> Revenue </div>-->
                            <!--<div class="uppercase font-hg font-green"> 4760-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="divider"> </li>-->
                        <!--<li>-->
                            <!--<div class="font-grey-mint font-sm"> Expenses </div>-->
                            <!--<div class="uppercase font-hg font-purple"> 1760-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="divider"> </li>-->
                        <!--<li>-->
                            <!--<div class="font-grey-mint font-sm"> Growth </div>-->
                            <!--<div class="uppercase font-hg font-blue"> 9760-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<div id="sales_statistics" class="portlet-body-morris-fit morris-chart" style="height: 260px"> </div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; END PORTLET&ndash;&gt;-->
        <!--</div>-->

    </div>


</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->