<div class="modal-header">
    <h3 class="modal-title">Novo Procedimentos</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Tipo procedimento</label>
                <ui-select ng-model="paciente.tipoProcedimento" theme="bootstrap">
                    <ui-select-match placeholder="Tipo procedimento...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices group-by="'group'"
                                       repeat="tipoProcedimento in tiposProcedimento | propsFilter: {name: $select.search, cod: $select.search}">
                        <div ng-bind-html="tipoProcedimento.name | highlight: $select.search"></div>
                        <small><span ng-bind-html="''+tipoProcedimento.cod | highlight: $select.search"></span></small>

                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Dentes</label>
                <ui-select ng-model="paciente.comoConheceu" theme="bootstrap">
                    <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="dente in dentes | filter: $select.search">
                        <div ng-bind-html="dente.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Faces</label>
                <ui-select multiple ng-model="multipleDemo.selectedPeople" theme="bootstrap" style="padding-bottom: 3px">
                    <ui-select-match placeholder="Faces...">{{$item.name}}</ui-select-match>
                    <ui-select-choices
                            repeat="face in faces | propsFilter: {name: $select.search, age: $select.search}">
                        {{face.name +' - '+ face.desc}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Observação</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
