<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> Pacientes </h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Pacientes</a>
        </li>
    </ul>
    <div class="page-toolbar">

        <!--<div class="btn-group pull-right">-->
            <!--<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Ações-->
                <!--<i class="fa fa-angle-down"></i>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu pull-right" role="menu">-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon-bell"></i> Novo</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon-shield"></i> Another action</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon-user"></i> Something else here</a>-->
                <!--</li>-->
                <!--<li class="divider"> </li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon-bag"></i> Separated link</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="btn-group pull-right">
            <a href="#/paciente" class="btn btn-fit-height green"> Novo Paciente
            </a>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="PacientesController">
    <div class="search-page search-content-2">
        <div class="search-bar " style="margin-bottom:25px;">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Pesquisar por paciente...">
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-btn">-->
                            <!--<button class="btn blue uppercase bold" type="button">Pesquisar</button>-->
                        <!--</span>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="search-container ">
                    <ul>
                        <li class="search-item-header">
                            <div class="row">
                                <div class="col-sm-9 col-xs-8">
                                    <h3>12 Resultados encontrados ///TODO || Últimos resultados...</h3>
                                </div>
                                <!--<div class="col-sm-3 col-xs-4">-->
                                    <!--<div class="form-group">-->
                                        <!--<select class="bs-select form-control">-->
                                            <!--<option>Questions</option>-->
                                            <!--<option>Answers</option>-->
                                            <!--<option>Users</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </li>
                        <li class="search-item clearfix">
                            <div class="search-content">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <h2 class="search-title">
                                            <a href="javascript:;"><i class="fa fa-mars"></i> Davi Faria de Oliveira</a>
                                        </h2>
                                        <p class="search-desc">
                                            Criado em:
                                            <span class="font-grey-salt" style="margin-right: 10px">11/23/2015</span>
                                            Última Atividade:
                                            <span class="font-grey-salt">25 mins atrás</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">28</p>
                                        <p class="search-counter-label uppercase">Idade</p>
                                    </div>

                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">(34) 8831-8070</p>
                                        <p class="search-counter-label uppercase">Telefone</p>
                                    </div>

                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">362</p>
                                        <p class="search-counter-label uppercase">Score</p>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="search-item clearfix">
                            <div class="search-content">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <h2 class="search-title">
                                            <a href="javascript:;"><i class="fa fa-venus"></i> Angela Maria de Oliveira</a>
                                        </h2>
                                        <p class="search-desc">
                                            Criado em:
                                            <span class="font-grey-salt" style="margin-right: 10px">11/23/2015</span>
                                            Última Atividade:
                                            <span class="font-grey-salt">25 mins atrás</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">45</p>
                                        <p class="search-counter-label uppercase">Idade</p>
                                    </div>

                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">(34) 8831-8070</p>
                                        <p class="search-counter-label uppercase">Telefone</p>
                                    </div>

                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">962</p>
                                        <p class="search-counter-label uppercase">Score</p>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="search-item clearfix">
                            <div class="search-content">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <h2 class="search-title">
                                            <a href="javascript:;"><i class="fa fa-mars"></i> Daniel Faria de Oliveira</a>
                                        </h2>
                                        <p class="search-desc">
                                            Criado em:
                                            <span class="font-grey-salt" style="margin-right: 10px">11/23/2015</span>
                                            Última Atividade:
                                            <span class="font-grey-salt">25 mins atrás</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">28</p>
                                        <p class="search-counter-label uppercase">Idade</p>
                                    </div>

                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">(34) 8831-8070</p>
                                        <p class="search-counter-label uppercase">Telefone</p>
                                    </div>

                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">0</p>
                                        <p class="search-counter-label uppercase">Score</p>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="search-item clearfix">
                            <div class="search-content">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <h2 class="search-title">
                                            <a href="javascript:;"><i class="fa fa-venus"></i> Teste Faria de Oliveira</a>
                                        </h2>
                                        <p class="search-desc">
                                            Criado em:
                                            <span class="font-grey-salt" style="margin-right: 10px">11/23/2015</span>
                                            Última Atividade:
                                            <span class="font-grey-salt">25 mins atrás</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">18</p>
                                        <p class="search-counter-label uppercase">Idade</p>
                                    </div>

                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">(34) 8831-8070</p>
                                        <p class="search-counter-label uppercase">Telefone</p>
                                    </div>

                                    <div class="col-sm-2 col-xs-4">
                                        <p class="search-counter-number">100</p>
                                        <p class="search-counter-label uppercase">Score</p>
                                    </div>

                                </div>
                            </div>
                        </li>

                    </ul>
                    <!--<div class="search-pagination">-->
                        <!--<ul class="pagination">-->
                            <!--<li class="page-active">-->
                                <!--<a href="javascript:;"> 1 </a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="javascript:;"> 2 </a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="javascript:;"> 3 </a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="javascript:;"> 4 </a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>


        </div>
    </div>



</div>
<!-- END MAIN CONTENT -->
