<!-- BEGIN PAGE HEADER-->
<div class="page-bar note note-success note-bordered hide" set-class-when-at-top="fix-to-top" style="height: 40px;">
    <ul class="page-breadcrumb ">
        <div><h4 class="page-title" style="margin-left: 15px;margin-top: -4px;font-size: 22px;"> Novo Paciente </h4></div>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height green"> Salvar
            </button>
        </div>
    </div>
</div>
<div class="page-bar">
<ul class="page-breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a href="index.html">Home</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="#">Paciente</a>
    </li>
</ul>
<div class="page-toolbar">

    <!--<div class="btn-group pull-right">-->
    <!--<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Ações-->
    <!--<i class="fa fa-angle-down"></i>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu pull-right" role="menu">-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="icon-bell"></i> Novo</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="icon-shield"></i> Another action</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="icon-user"></i> Something else here</a>-->
    <!--</li>-->
    <!--<li class="divider"> </li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="icon-bag"></i> Separated link</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-fit-height green">Salvar
        </button>
    </div>
</div>
</div>

<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="PacienteController">

    <div class="portlet light bordered">
        <div class="portlet-title">
            <!--<div class="caption">-->
                <!--<i class="font-red-sunglo"></i>-->
                <!--<span class="caption-subject font-red-sunglo bold uppercase">Informações Pessoais</span>-->
                <!--<span class="caption-helper"></span>-->
            <!--</div>-->
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""> </a>
                <!--<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>-->
                <!--<a href="" class="reload" data-original-title="" title=""> </a>-->
                <!--<a href="" class="remove" data-original-title="" title=""> </a>-->
            </div>
            <h4 class="form-section">Informações Pessoais</h4>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal">
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">*Nome</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="">
                                    <span class="help-block">  </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">*Convênio</label>
                                <div class="col-md-9">
                                    <ui-select ng-model="paciente.convenio" theme="bootstrap">
                                        <ui-select-match placeholder="Selecione o convênio...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="convenio in convenios | filter: $select.search">
                                            <div ng-bind-html="convenio | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">*Sexo</label>
                                <div class="col-md-9">
                                    <div class="radio-list">

                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios1" value="option1" checked/> Masculino </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios1" value="option2" /> Feminino </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group" ng-disabled="paciente.comoConheceu=='Indicação'">
                                <label class="control-label col-md-3">No.Carterinha</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="">
                                    <span class="help-block">  </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">*Data Nascimento</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="mask_data_nasc">
                                    <!--<span class="help-block"> 23 Anos </span>-->
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">*Profissão</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="">
                                    <span class="help-block">  </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">*Como Conheceu</label>
                                <div class="col-md-9">
                                    <ui-select ng-model="paciente.comoConheceu" theme="bootstrap">
                                        <ui-select-match placeholder="Como o cliente conheceu o consultório...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="cc in comoConheceu | filter: $select.search">
                                            <div ng-bind-html="cc | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" >
                                <label class="control-label col-md-3">Indicado Por</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="" ng-disabled="paciente.comoConheceu!=='Indicação'" >
                                    <span class="help-block">  </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                                <!--<label class="control-label col-md-3">Indicado Por</label>-->
                                <!--<div class="col-md-9">-->
                                    <!--<input type="text" class="form-control" placeholder="">-->
                                    <!--<span class="help-block">  </span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">CPF</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="" id="mask_cpf">
                                    <span class="help-block">  </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <h4 class="form-section">Contato</h4>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    <i class="fa fa-circle-o-notch fa-spin font-blue" style="font-size: 18px;" ng-show="loadingCep"></i> *CEP
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group" >
                                        <input type="text" class="form-control" id="mask_cep" ng-change="buscaCep()" ng-disabled="loadingCep" ng-model="paciente.cep">
                                        <span class="input-group-btn">
                                            <a class="btn default date-range-toggle" href="http://www.buscacep.correios.com.br/servicos/dnec/menuAction.do?Metodo=menuLogradouro" target="_blank">
                                                <i class="fa fa-map-o"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3" >Cidade</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-model="paciente.cidade" disabled> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Logradouro</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-model="paciente.logradouro" disabled> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3" >Número</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-model="paciente.endNumero"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Bairro</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-model="paciente.bairro" disabled> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3" >Complemento</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-model="paciente.complemento"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Telefone</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="mask_telefone"> </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Celular</label>
                                <div class="col-md-9">
                                <input type="text" class="form-control" id="mask_celular"> </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <h4 class="form-section">Outros</h4>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Observação</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Anamnese</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>

            </form>
            <!-- END FORM-->
        </div>
    </div>

    <div class="portlet light bordered">
        <div class="portlet-title">
            <!--<div class="caption">-->
            <!--<i class="font-red-sunglo"></i>-->
            <!--<span class="caption-subject font-red-sunglo bold uppercase">Informações Pessoais</span>-->
            <!--<span class="caption-helper"></span>-->
            <!--</div>-->
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""> </a>
                <!--<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>-->
                <!--<a href="" class="reload" data-original-title="" title=""> </a>-->
                <!--<a href="" class="remove" data-original-title="" title=""> </a>-->
            </div>
            <h4 class="form-section">Condições Dentárias</h4>
        </div>
        <div class="portlet-body form">

            <div class="row">

                <div class="col-md-12">
                    <form name="form1" method="post" action="">
                        <table width="100%" border="0" align="center" cellpadding="2" cellspacing="2" class="tabela-procedimentos">
                            <tbody><tr>
                                <td width="10%" align="center" bgcolor="#E46E31" class="fontbranco1">Arcada</td>
                                <td colspan="16" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1" width="80%">
                                    <b>Arcada Superior</b> </td>
                            </tr>
                            <tr>
                                <td width="10%" align="center" bgcolor="#E46E31" class="fontbranco1">Hemiarcada</td>
                                <td colspan="8" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1" width="40%">
                                    <b>Superior Esquerda</b>
                                </td>
                                <td colspan="8" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1" width="40%">
                                    <b>Superior Direita</b>
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" align="center" bgcolor="#E46E31" class="fontbranco1">Segmentos</td>
                                <td colspan="5" align="center" valign="top" bgcolor="#FFE1D7" class="font1" width="26%">
                                    <b onclick="SelecionaDente('S1');" title="SEG SUPERIOR DIREITO" style="cursor:hand">S1</b>
                                </td>
                                <td colspan="6" align="center" valign="top" bgcolor="#FFE1D7" class="font1" width="27%">
                                    <b onclick="SelecionaDente('S2');" title="SEG SUPERIOR ANTERIOR" style="cursor:hand">S2</b>
                                </td>
                                <td colspan="5" align="center" valign="top" bgcolor="#FFE1D7" class="font1" width="26%">
                                    <b onclick="SelecionaDente('S3');" title="SEG SUPERIOR ESQUERDO" style="cursor:hand">S3</b>
                                </td>
                            </tr>

                            <tr>
                                <td width="10%" align="center" bgcolor="#E46E31" class="fontbranco1">Áreas - RX</td>
                                <td colspan="3" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1" width="15%">
                                    <b onclick="SelecionaDente('RMSD');" title="REGIÃO DOS MOLARES SUPERIORES DIREITO" style="cursor:hand">RMSD</b>
                                </td>
                                <td colspan="2" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1" width="10%">
                                    <b onclick="SelecionaDente('RMSD');" title="REGIÃO DOS MOLARES SUPERIORES DIREITO" style="cursor:hand">RMSD</b><br><b onclick="SelecionaDente('RPSD');" title="REGIAO DOS PRÉ MOLARES SUP DIREITO" style="cursor:hand">RPSD</b>
                                </td>
                                <td colspan="2" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1" width="10%">
                                    <b onclick="SelecionaDente('RCSD');" title="REGIAO DO CANINO E LATERAL SUP DIREITO" style="cursor:hand">RCSD</b>
                                </td>
                                <td colspan="2" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1" width="10%">
                                    <b onclick="SelecionaDente('RIS');" title="REGIAO DOS INCISIVOS CENTRAIS SUPERIORES" style="cursor:hand">RIS</b>
                                </td>
                                <td colspan="2" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1" width="10%">
                                    <b onclick="SelecionaDente('RCSE');" title="REGIAO DO CANINO LATERAL SUP ESQUERDO" style="cursor:hand">RCSE</b>
                                </td>
                                <td colspan="2" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1" width="10%">
                                    <b onclick="SelecionaDente('RMSE');" title="REGIAO DE MOLARES SUPERIORES ESQUERDO" style="cursor:hand">RMSE</b><br><b onclick="SelecionaDente('RPSE');" title="REGIAO DE PRE MOLARES SUPERIORES ESQUERDO" style="cursor:hand">RPSE</b>
                                </td>
                                <td colspan="3" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1" width="15%">
                                    <b onclick="SelecionaDente('RMSE');" title="REGIAO DE MOLARES SUPERIORES ESQUERDO" style="cursor:hand">RMSE</b>
                                </td>
                            </tr>

                            <tr>
                                <td width="10%" align="center" bgcolor="#E46E31" class="fontbranco1">Dentes Superiores</td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('18');" title="" style="cursor:hand">18</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('17');" title="" style="cursor:hand">17</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('16');" title="" style="cursor:hand">16</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('55');" title="" style="cursor:hand">55</b><br><b onclick="SelecionaDente('15');" title="" style="cursor:hand">15</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('54');" title="" style="cursor:hand">54</b><br><b onclick="SelecionaDente('14');" title="" style="cursor:hand">14</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('53');" title="" style="cursor:hand">53</b><br><b onclick="SelecionaDente('13');" title="" style="cursor:hand">13</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('52');" title="" style="cursor:hand">52</b><br><b onclick="SelecionaDente('12');" title="" style="cursor:hand">12</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('51');" title="" style="cursor:hand">51</b><br><b onclick="SelecionaDente('11');" title="" style="cursor:hand">11</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('61');" title="" style="cursor:hand">61</b><br><b onclick="SelecionaDente('21');" title="" style="cursor:hand">21</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('62');" title="" style="cursor:hand">62</b><br><b onclick="SelecionaDente('22');" title="" style="cursor:hand">22</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('63');" title="" style="cursor:hand">63</b><br><b onclick="SelecionaDente('23');" title="" style="cursor:hand">23</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('64');" title="" style="cursor:hand">64</b><br><b onclick="SelecionaDente('24');" title="" style="cursor:hand">24</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('65');" title="" style="cursor:hand">65</b><br><b onclick="SelecionaDente('25');" title="" style="cursor:hand">25</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('26');" title="" style="cursor:hand">26</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('27');" title="" style="cursor:hand">27</b></td>
                                <td width="5%" align="center" valign="bottom" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('28');" title="" style="cursor:hand">28</b></td>
                            </tr>
                            <tr style="height: 15px"> </tr>
                            <tr >
                                <td width="10%" align="center" bgcolor="#E46E31" class="fontbranco1">Dentes Inferiores</td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('48');" title="" style="cursor:hand">48</b></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('47');" title="" style="cursor:hand">47</b></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('46');" title="" style="cursor:hand">46</b></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('45');" title="" style="cursor:hand">45</b><br><b onclick="SelecionaDente('85');" title="" style="cursor:hand">85</b></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('44');" title="" style="cursor:hand">44</b><br><b onclick="SelecionaDente('84');" title="" style="cursor:hand">84</b></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('43');" title="" style="cursor:hand">43</b><br><b onclick="SelecionaDente('83');" title="" style="cursor:hand">83</b></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('42');" title="" style="cursor:hand">42</b><br><b onclick="SelecionaDente('82');" title="" style="cursor:hand">82</b></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('41');" title="" style="cursor:hand">41</b><br><b onclick="SelecionaDente('81');" title="" style="cursor:hand">81</b></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('31');" title="" style="cursor:hand">31</b><br><b onclick="SelecionaDente('71');" title="" style="cursor:hand">71</b><br></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('32');" title="" style="cursor:hand">32</b><br><b onclick="SelecionaDente('72');" title="" style="cursor:hand">72</b><br></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('33');" title="" style="cursor:hand">33</b><br><b onclick="SelecionaDente('73');" title="" style="cursor:hand">73</b><br></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('34');" title="" style="cursor:hand">34</b><br><b onclick="SelecionaDente('74');" title="" style="cursor:hand">74</b><br></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('35');" title="" style="cursor:hand">35</b><br><b onclick="SelecionaDente('75');" title="" style="cursor:hand">75</b><br></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('36');" title="" style="cursor:hand">36</b></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('37');" title="" style="cursor:hand">37</b></td>
                                <td width="5%" align="center" valign="top" bgcolor="#FFE1D7" class="font1"><b onclick="SelecionaDente('38');" title="" style="cursor:hand">38</b></td>
                            </tr>
                            <tr>
                                <td width="10%" align="center" bgcolor="#E46E31" class="fontbranco1">Áreas - RX</td>
                                <td colspan="3" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1">
                                    <b onclick="SelecionaDente('RMID');" title="REGIAO DE MOLARES INFERIORES DIREITO" style="cursor:hand">RMID</b>
                                </td>
                                <td colspan="2" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1">
                                    <b onclick="SelecionaDente('RMID');" title="REGIAO DE MOLARES INFERIORES DIREITO" style="cursor:hand">RMID</b><br><b onclick="SelecionaDente('RPID');" title="REGIAO DE PRE MOLARES INFERIORES DIREITO" style="cursor:hand">RPID</b>
                                </td>
                                <td align="center" valign="bottom" bgcolor="#FFFBDC" class="font1">
                                    <b onclick="SelecionaDente('RCID');" title="REGIAO DE CANINO INFERIOR DIREITO" style="cursor:hand">RCID</b>
                                </td>
                                <td colspan="4" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1">
                                    <b onclick="SelecionaDente('RII');" title="REGIAO DOS INCISIVOS INFERIORES" style="cursor:hand">RII</b>
                                </td>
                                <td align="center" valign="bottom" bgcolor="#FFFBDC" class="font1">
                                    <b onclick="SelecionaDente('RCIE');" title="REGIAO DE CANINO INFERIOR ESQUERDO" style="cursor:hand">RCIE</b>
                                </td>
                                <td colspan="2" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1">
                                    <b onclick="SelecionaDente('RMIE');" title="REGIAO DE MOLARES INFERIORES ESQUERDO" style="cursor:hand">RMIE</b><br><b onclick="SelecionaDente('RPIE');" title="REGIAO DE PRE MOLARES INFERIORES ESQUERDO" style="cursor:hand">RPIE</b> </td>
                                <td colspan="3" align="center" valign="bottom" bgcolor="#FFFBDC" class="font1">
                                    <b onclick="SelecionaDente('RMIE');" title="REGIAO DE MOLARES INFERIORES ESQUERDO" style="cursor:hand">RMIE</b>
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" align="center" bgcolor="#E46E31" class="fontbranco1">Segmentos</td>
                                <td colspan="5" align="center" valign="top" bgcolor="#FFE1D7" class="font1">
                                    <b onclick="SelecionaDente('S6');" title="SEG INFERIOR DIREITO" style="cursor:hand">S6</b>
                                </td>
                                <td colspan="6" align="center" valign="top" bgcolor="#FFE1D7" class="font1">
                                    <b onclick="SelecionaDente('S5');" title="SEG INFERIOR ANTERIOR" style="cursor:hand">S5</b>
                                </td>
                                <td colspan="5" align="center" valign="top" bgcolor="#FFE1D7" class="font1">
                                    <b onclick="SelecionaDente('S4');" title="SEG INFERIOR ESQUERDO" style="cursor:hand">S4</b>
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" align="center" bgcolor="#E46E31" class="fontbranco1">Hemiarcada</td>
                                <td colspan="8" align="center" valign="top" bgcolor="#FFFBDC" class="font1">
                                    <b>Inferior Esquerda</b>
                                </td>
                                <td colspan="8" align="center" valign="top" bgcolor="#FFFBDC" class="font1">
                                    <b>Inferior Direita</b>
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" align="center" bgcolor="#E46E31" class="fontbranco1">Arcada</td>
                                <td colspan="16" align="center" valign="top" bgcolor="#FFE1D7" class="font1">
                                    <b>Arcada Inferior</b>
                                </td>
                            </tr>
                            </tbody></table>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light bordered">
        <div class="portlet-title">
            <!--<div class="caption">-->
            <!--<i class="font-red-sunglo"></i>-->
            <!--<span class="caption-subject font-red-sunglo bold uppercase">Informações Pessoais</span>-->
            <!--<span class="caption-helper"></span>-->
            <!--</div>-->
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""> </a>
                <!--<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>-->
                <!--<a href="" class="reload" data-original-title="" title=""> </a>-->
                <!--<a href="" class="remove" data-original-title="" title=""> </a>-->
            </div>
            <div>
                <h4 class="form-section" style="float: left">Procedimentos</h4>
                <ui-select ng-model="filtroProcedimento" theme="bootstrap" class="filter-form-section">
                    <ui-select-match placeholder="Filtro...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="filtro in filtrosProcedimentos | filter: $select.search">
                        <div ng-bind-html="filtro.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="actions" style="margin-right: 15px">
                <div class="btn-group">
                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="false" ng-click="openModalTiposProcedimento()"> Novo Procedimento
                    </a>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column"  >
                        <thead>
                        <tr>
                            <th style="width:150px"> Data </th>
                            <th> Descrição </th>
                            <th> Área </th>
                            <th style="width: 228px;"> Ações </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX">
                            <td>
                                <div class="form-group">
                                    12/12/2015 13:33
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group" >
                                        RESINA REST FACE 2<span style="margin-left:6px;" class="label label-sm label-warning circle">obs</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                34 - O V
                            </td>
                            <td>
                                <div class="btn-group" dropdown is-open="status.isopen" ng-click="toggleDropdown($event)">
                                    <button type="button" class="btn btn-warning dropdown-toggle btn-sm" ng-disabled="disabled"> Em Andamento
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Concluído</a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="javascript:;" class="btn btn-icon-only default">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button class="btn btn-icon-only default" data-toggle="confirmation" data-placement="left" data-original-title="" title="Certeza que deseja deletar?" aria-describedby="confirmation113344">
                                    <i class="fa fa-trash"></i>
                                </button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


</div>
