<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> Relatórios </h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Relatórios</a>
        </li>
    </ul>
    <div class="page-toolbar">

        <!--<div class="btn-group pull-right">-->
            <!--<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Ações-->
                <!--<i class="fa fa-angle-down"></i>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu pull-right" role="menu">-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon-bell"></i> Novo</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon-shield"></i> Another action</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon-user"></i> Something else here</a>-->
                <!--</li>-->
                <!--<li class="divider"> </li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon-bag"></i> Separated link</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="btn-group pull-right">-->
            <!--<button type="button" class="btn btn-fit-height green"> Novo Paciente-->
            <!--</button>-->
        <!--</div>-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="RelatoriosController">
</div>
<!-- END MAIN CONTENT -->
