.fix-to-top {
    position: fixed;
    top: 68px;
    z-index: 9999;
    width: 79.465%;
    box-shadow: 0 0px 10px 0 rgba(50,50,50,.2);
}


.cond-dent-table th{
    width: 45px;
}


.proc-selectable{
    cursor: pointer;
}

.proc-selectable:hover{
    background-color: #eef1f5;
}

.filter-form-section{
    float: left;
    margin-top: 4px;
    margin-left: 15px;
    width: 150px;
}

.tabela-procedimentos td{
    background-color: rgb(241, 244, 247);
    border: solid rgb(231, 236, 241) 1px;
    color:rgb(108, 141, 174);
}

.tabela-procedimentos td b{
    font-weight: normal;
    font-size: 12px;
    color:rgba(108, 141, 174, 0.45);

}

.tabela-procedimentos .fontbranco1{
    padding: 8px;
    background-color: white;
    border: none;
    color:rgb(108, 141, 174);
    font-size: 10px;
}

.tabela-procedimentos .font1:hover {
    background-color: rgb(231, 234, 237);
}

.tabela-procedimentos td:hover b {
    color: rgba(108, 141, 174, 1);
}

.search-content-2 .search-container>ul .search-item>.search-content .search-counter-number{
    font-size: 18px !important;
}

textarea.form-control{
    width:96%;
    resize: none;
}
